:root{
    --a : 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 5px;
    margin: 5px 0;
}

.right {
    width: 75vw;
    padding: 5px;
    margin: 5px 0;
    position: relative;
}

.cross {
    display: none;
}

.spotifylogo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.spotifylogo>span {
    font-size: 20px;
    font-weight: 800;
}

.spotifylogo>img {
    height: 32px;
    width: 29px;
}

.home ul li {
    display: flex;
    width: 15px;
    gap: 15px;
    list-style: none;
    padding-top: 15px;
}

.library ul li {
    display: flex;
    width: 100%;
    gap: 15px;
    list-style: none;
    /* padding-top: 15px; */
}

.library img {
    width: 15px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 12px;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
}

.footer a {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    padding: 6px;
}

.btn {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.signupBtn {
    background-color: #212121;
    color: #aeaeae;
    padding: 9px;
    border-radius: 11px;
}

.signupBtn:hover {
    color: white;
    background-color: black;
    /* font-size: 16px; */
}

.loginBtn {
    background-color: white;
    color: black;
    padding: 9px 9px;
    border-radius: 11px;
    margin-left: 5px;
}

.loginBtn:hover {
    background-color: rgb(174, 174, 174);
}

.nav svg {
    cursor: pointer;
}

.hamburger {
    display: none;
}

.spotifyPlaylists>h1 {
    margin-left: 25px;
    padding-top: 18px;
    font-size: 28px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 8px 21px;
    overflow-y: auto;
    max-height: 66vh;
}

.card {
    /* width: 150px; */
    width: 189px;
    padding: 10px;
    background-color: #252525;
    position: relative;
    transition: all 0.5s ease;
}

.card:hover {
    background-color: #5a5959a4;
    cursor: pointer;
    transform: scale(1.02);
    --a : 1;
}

.play {
    position: absolute;
    right: 2.7px;
    top: 141.5px;
    opacity: var(--a);
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card h2 {
    font-size: 20px;
    color: #c6c6c6;
    font-weight: bolder;
}

.card p {
    font-size: 13px;
    color: #aeaeae;
}

.playbar {
    position: absolute;
    bottom: 36px;
    background-color: #212121;
    border-radius: 10px;
    width: 95%;
    padding: 8px 8px;
    min-height: 50px;
}

.songtimeAndVolume {
    display: flex;
    align-items: center;
    gap: 7px;
}

.volume,
.range {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.range input{
    cursor: pointer;
}
.volume img {
    height: 17px;
    width: 17px;
    cursor: pointer;
}

.info .songname {
    word-break: break-all;
}

.songinfo {
    width: 240px;
}

.playbar .songinfo,
.songtime {
    font-size: 15px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 203px;
}

.songList {
    margin-top: 7px;
    overflow-y: auto;
    max-height: 50vh;
}

.songList ul {
    margin: 0 18px;
}

.songList ul li {
    display: flex;
    align-items: center;
    padding: 11px 8px;
    border: solid 1.5px rgba(190, 100, 66, 1);
    border-radius: 5px;
    margin-bottom: 4px;
    transition: all 0.5s ease;
}
.songList ul li:hover {
    background-color: #5a59594a;
    cursor: pointer;
}
.info .songname {
    font-size: 12px;
    font-weight: bold;
    /* color: rgba(135, 132, 132, 0.89)0.689), 0.689);  */
    color: #c6c6c6;;
}
.info .artistname{
    font-size: 10px;
    color: rgb(128, 128, 128);
}
.playnow span{
    font-size: 11px;
}
.playnow {
    display: flex;
    align-items: center;
    gap: 5px;
}
.info{
    width: 125px;
}
.infoAndPlaynow{
    display: flex;
    justify-content: space-between;
    gap: 14px;
}
.seekbar {
    height: 4px;
    /* background-color: rgba(255, 255, 255, 0.511); */
    background-color: rgba(255, 127, 80, 0.705);
    border-radius: 5px;
    width: 69vw;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
}

.circle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.664); */
    background-color: rgba(255, 166, 0, 0.797);
    position: absolute;
    top: -6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

/* ********************************media query for left part and replace it with hamerbarg****************************************/

@media (max-width: 768px) {
    .left {
        position: absolute;
        left: -140%;
        transition: all .3s;
        z-index: 1;
        width: 312px;
        padding: 0;
        margin: 0;
    }

    .cross {
        display: block;
    }

    .cross img {
        height: 17px;
        width: 17px;
        cursor: pointer;
    }

    .logo {
        display: flex;
        justify-content: space-between;
    }

    .right {
        width: 100%;
    }

    .playbar {
        bottom: -104px;
        width: calc(100vw - 25px);
    }

    .seekbar {
        width: calc(100vw - 40px);
        bottom: 4px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburgerContainer {
        display: flex;
        justify-content: center;
        gap: 2px;
    }

    .cardContainer {
        justify-content: center;
        margin: 0;
        max-height: 61vh;
    }

    .card {
        width: 42vw;
    }

    .spotifyPlaylists>h1 {
        margin-bottom: 6px;
        margin-left: 40px;
        padding-top: 10px;
        font-size: 28px;
    }

    .songbuttons>img {
        height: 14px;
        width: 14px;
    }

    .songbuttons {
        gap: 7px;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .playbar,
    .songtime {
        font-size: 13px;
    }

    .songtimeAndVolume {
        flex-direction: column;
        gap: 4px;
        margin-bottom: 5px;
    }
    .info{
        width: 116px;
    }
    .playnow span {
        font-size: 10px;
    }
    .infoAndPlaynow {
        gap: 10px;
    }
    .info .songname, .artistname {
        font-size: 9px;
    }
    .songList ul li {
        padding: 14px 8px;
    }
}

/* ********************************************************************************************************** */

@media (max-width: 426px) {
    .spotifyPlaylists>h1 {
        margin-left: 14px;
        font-size: 27px;
    }
    .info .songname, .artistname {
        font-size: 9px;
    }
    .info {
        width: 120px;
    }
    .playnow span {
        font-size: 8px;
    }
}

/* ********************************************************************************************************** */

@media (max-width: 376px) {
    .card {
        width: 38vw;
    }

    .spotifyPlaylists>h1 {
        margin-left: 26px;
        font-size: 26px;
    }
    .info .songname, .artistname {
        font-size: 9px;
    }
    .info {
        width: 120px;
    }
    .playnow span {
        font-size: 8px;
    }
}